html {
    font-size: 22px;
}

h1 {
    color: rgb(81, 255, 0);
    text-align: center;
}

h2 {
    color: rgb(81, 255, 0);
    text-align: center;
}

a {
    color: antiquewhite;
}

button {
    color: #333;
    background-color: #7fff00;
}

/*img {
    width: 500px;
    height: 500px;
}*/

body {
    background-color: #333;
    color: antiquewhite;
}